<ion-header no-border>
  <ion-navbar transparent color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" no-padding >

    <div class="profile-box">
        <div text-center>
            <img [src]="profilePicture" class="edit-avatar pop-in" alt="">
            <p class="name-text">{{(profile | async)?.name}}</p>
        </div>
    </div>

    <div padding>
        <ion-list no-lines >
            <ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <h2>{{(profile | async)?.email}}</h2>
                <p>E-mail</p>
            </ion-item>

            <ion-item>
              <ion-icon name="card" item-left></ion-icon>
              <h2>{{(profile | async)?.name}}</h2>
              <p>Name</p>
            </ion-item>

            <ion-item>
              <ion-icon name="information-circle" item-left></ion-icon>
              <h2>{{(profile | async)?.about}}</h2>
              <p>About</p>
            </ion-item>

          <ion-item>
            <ion-icon name="options" item-left></ion-icon>
            <h2>{{(profile | async)?.interests}}</h2>
            <p>Interests</p>
          </ion-item>

            <!--<ion-item>-->
              <!--<ion-icon name="md-finger-print"  item-left></ion-icon>-->
              <!--<h2>{{uid}}</h2>-->
              <!--<p>Firebase uid</p>-->
            <!--</ion-item>-->
        </ion-list>

        <button ion-button block color="blue2" (click)="logout()">
          Logout
        </button>
    </div>

</ion-content>
