<ion-header no-border  class="feed-header">
    <ion-navbar color="white" style="background: none; border-bottom: none" >
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>
{{(userEvent | async)?.group}}

<!--<ion-content fullscreen=""  no-paddding shrink-header  [setHeaderH]="'500'" [headerToHide]="'feed-header'">-->
<ion-content fullscreen=""  no-paddding shrink-header  [headerToHide]="'feed-header'">
  <ion-card  *ngFor="let event of availableEvents  | async">
    <ion-card-content>
      <ion-row>
        <ion-col width-25>
          <h3>Nov</h3>
        </ion-col>
        <ion-col width-25></ion-col>
        <ion-col width-25>
          <p>Topic: {{event.group}}</p>
          <p>Attending: {{getUsersByEmail(event.attending)}}</p>
          <p>Invited: {{event.members}}</p>
        </ion-col>
        <ion-col width-25>
          <p>Spots Taken:
            <ion-badge item-right> {{event.attending?.length || 0}}/5</ion-badge>
          </p>
          <button *ngIf="eventAvailability(event)" ion-button type="button" block icon-left color="dark" outline (click)="viewEvent(event)" margin-top>
            <ion-icon name="add-circle"></ion-icon> Join
          </button>
          <div *ngIf="!eventAvailability(event)">
            This event is full
          </div>
        </ion-col>
      </ion-row>
      </ion-card-content>
  </ion-card>
</ion-content>
