page-feed {
  ion-slides,
  .swiper-container {
    // height: 40vh;
    height: 300px;
    width: auto;
  }
  .swiper-slide {
    background-size: cover !important;
    background-position: center !important;
  }

  .content{
    background-color: #ddd;
  }
  #imageSlide{
    max-width: 100vw !important;
    max-height: 100vh !important;
  }

  .swiper-pagination-bullet-active {
    background: color($colors, teal);
  }
  ion-card{
    margin: 0px 0px 15px 0px !important;
    width: 100% !important;
  }
  .fit-screen{
    max-width:100%;
    max-height:100%;
  }

  .event-label {
    font-weight: bold;
    text-decoration: underline;
  }
  h3 {
    font-size: 3rem !important;
  }

  .time-days {
    font-size: 5rem;
  }

  .time-short {
    font-size: 3rem;
    margin-top: 18px;
  }

  .card-md p {
    margin-bottom: 10px;
  }

  .card-md h2 {
  font-size: 2rem;
  }

  .card-md h4 {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }

  .attending-event {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
  }

  .events-header {
    font-size: 3rem;
    margin-left: 15px;
  }

  .badge-md {
    margin-left: 8px;
  }

  .expanding-row {
    border-top: 1px solid #488aff;
    padding-top: 13px;
  }

  .event-voucher {
    padding: 30px;
    text-align: center;
    .voucher-intro {
      font-size: 2.5rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
