
<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <img class="logo" src="./assets/upspark_logo.png" />
    <!--*********** Form ***********-->

    <form [formGroup]="registerForm" (submit)="registerUser()" novalidate>

      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input tappable formControlName="profileName" type="text" placeholder="Your name" [class.invalid]="!registerForm.controls.profileName.valid && registerForm.controls.profileName.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input tappable formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>About</ion-label>
        <ion-textarea tappable formControlName="about" placeholder="Add a fun fact about yourself" [class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Interests</ion-label>
        <ion-select formControlName="interests" multiple="true" cancelText="Cancel" okText="Select">
          <ion-option value="sports">Sports</ion-option>
          <ion-option value="politics">Politics</ion-option>
          <ion-option value="music">Music</ion-option>
          <ion-option value="movies">Movies</ion-option>
          <ion-option value="tvShows">TV Shows</ion-option>
          <ion-option value="popCulture">Pop Culture</ion-option>
          <ion-option value="fashion">Fashion</ion-option>
          <ion-option value="food">Food</ion-option>
          <ion-option value="gaming">Gaming</ion-option>
          <ion-option value="aviation">Aviation</ion-option>
          <ion-option value="artsCrafts">Arts & Crafts</ion-option>
          <ion-option value="painting">Painting</ion-option>
          <ion-option value="traveling">Traveling</ion-option>
          <ion-option value="bookworm">Bookworm</ion-option>
          <ion-option value="gardening">Gardening</ion-option>
          <ion-option value="charity">Charity</ion-option>
          <ion-option value="parenting">Parenting</ion-option>
          <ion-option value="comedy">Comedy</ion-option>
          <ion-option value="lgbt">LGBT</ion-option>
          <ion-option value="cars">Cars</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input tappable formControlName="password" type="password" placeholder="Your password" [class.invalid]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
      </ion-item>



      <ion-item class="error-message">
        <p *ngIf="!registerForm.controls.profileName.valid  &&
                registerForm.controls.profileName.dirty">*Please enter your name.</p>
        <p *ngIf="!registerForm.controls.email.valid  &&
                registerForm.controls.email.dirty">*Please enter a valid email.</p>
        <p *ngIf="!registerForm.controls.password.valid  &&
        registerForm.controls.password.dirty">*Password needs more than 6 characters.</p>
      </ion-item>
        <button ion-button full type="submit" color="blue2">
            Create an Account
        </button>
    </form>
  </div>
</ion-content>
<ion-footer color="blue2">

</ion-footer>

